backups2025/04/QMilCIpQRBcMgbMt.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch LinkedIn Likes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Liked Posts": {
      "main": [
        [
          {
            "node": "Filter Insightful & Recent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Content Idea": {
      "main": [
        [
          {
            "node": "Prepare for Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Likes": {
      "main": [
        [
          {
            "node": "Split Liked Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Airtable": {
      "main": [
        [
          {
            "node": "Save to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Insightful & Recent": {
      "main": [
        [
          {
            "node": "Format Content Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-16T07:56:57.763Z",
  "id": "QMilCIpQRBcMgbMt",
  "isArchived": false,
  "meta": null,
  "name": "📌 Turn your LinkedIn insights into content ideas with Airtable and Real-Time Linkedin Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "b1b6cf11-02c1-4af5-941c-dc15e01b7672",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -200,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://linkedin-api8.p.rapidapi.com/get-profile-likes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "< YOUR LINKEDIN USERNAME >"
            },
            {
              "name": "start",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "linkedin-api8.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "< YOUR RAPID API KEY >"
            }
          ]
        },
        "options": {}
      },
      "id": "64ed3029-e21b-438b-9e8b-077228e58ab9",
      "name": "Fetch LinkedIn Likes",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        480
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.items",
        "options": {}
      },
      "id": "c3aff5b1-0cc7-4bbd-835a-58c3972e9032",
      "name": "Split Liked Posts",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        220,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a1ee03bc-55c0-4e62-af66-280df7e24824",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.action }}",
              "rightValue": "insightful"
            },
            {
              "id": "9b7fcecb-09c0-45f2-bb30-9b6ab565695c",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ new Date($json.postedDate).getTime() }}",
              "rightValue": "={{ new Date().getTime() - (7 * 24 * 60 * 60 * 1000) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e6c7eaf3-17ed-411a-88d5-2fb451524de8",
      "name": "Filter Insightful & Recent",
      "type": "n8n-nodes-base.filter",
      "position": [
        440,
        480
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93ebd033-743a-4f8c-837c-ed619d14895d",
              "name": "Title",
              "type": "string",
              "value": "=I just liked a linkedin post of {{ $json.author.username }}"
            },
            {
              "id": "fdbde792-1dba-46e2-9c3a-2daf629151e3",
              "name": "description",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "ecf9aca8-45ae-4037-8f78-06a2a7b5d076",
              "name": "source",
              "type": "string",
              "value": "={{ $json.postUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2f43d2dd-7992-4359-ab1b-b4e2462f9942",
      "name": "Format Content Idea",
      "type": "n8n-nodes-base.set",
      "position": [
        660,
        480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "Title, description, source",
        "options": {}
      },
      "id": "299c8b78-9c59-425f-baf2-b793bdf4b56c",
      "name": "Prepare for Airtable",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        880,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appgNpFtbtaGHM4g0",
          "cachedResultUrl": "https://airtable.com/appgNpFtbtaGHM4g0",
          "cachedResultName": "Content Hub"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblwBVudDpOMkUGKL",
          "cachedResultUrl": "https://airtable.com/appgNpFtbtaGHM4g0/tblwBVudDpOMkUGKL",
          "cachedResultName": "Ideas"
        },
        "columns": {
          "value": {
            "Type": "Linkedin",
            "Title": "={{ $json.Title }}",
            "Source": "={{ $json.source }}",
            "Status": false,
            "Description": "={{ $json.description }}"
          },
          "schema": [
            {
              "id": "Title",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Main Idea",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Main Idea",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Takeaways",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Takeaways",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "boolean",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Source",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "Youtube Video",
                  "value": "Youtube Video"
                },
                {
                  "name": "Web Article",
                  "value": "Web Article"
                },
                {
                  "name": "Own Notes",
                  "value": "Own Notes"
                },
                {
                  "name": "E-Book",
                  "value": "E-Book"
                },
                {
                  "name": "Twitter",
                  "value": "Twitter"
                },
                {
                  "name": "Linkedin",
                  "value": "Linkedin"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Draft",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Draft",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Attachment - Video",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Attachment - Video",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Attachment - Image",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Attachment - Image",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Created",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Created",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Modified",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Last Modified",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6761fb6a-8efc-4d85-9c3f-007a9d1ec3a3",
      "name": "Save to Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1100,
        480
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## 📝 Description\nAutomatically turn your insightful LinkedIn post reactions into structured content ideas saved in Airtable. This workflow fetches your recent *\"insightful\"* likes, filters for posts from the last 7 days, extracts relevant content, and logs it into Airtable for future content inspiration.",
        "height": 180,
        "width": 460
      },
      "id": "0081e8a5-cf23-46bf-adaf-9949a44bccda",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚙️ What It Does\n- **Fetches** recent liked posts from LinkedIn using RapidAPI.\n- **Filters** only *insightful* reactions from the past 7 days.\n- **Structures** each post into a title, description, and source URL.\n- **Stores** the content in a custom Airtable base.",
        "height": 180,
        "width": 460
      },
      "id": "ff446e5a-792f-4338-b61c-d321e05732b5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🧰 Setup Instructions\n1. Clone this template into your n8n instance.\n2. Open the `Fetch LinkedIn Likes` node and enter:\n   - Your LinkedIn username.\n   - Your RapidAPI key in the headers.\n3. Open the `Save to Airtable` node and:\n   - Connect your Airtable account.\n   - Link the correct base (`Content Hub`) and table (`Ideas`).\n4. Set your desired schedule in the `Trigger` node.\n5. Activate the workflow and you're done!\n",
        "height": 380,
        "width": 500
      },
      "id": "527d147d-e2a3-4463-a4a2-05f6dc4fbb27",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        0
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "repo_name": "backup-n8n",
  "repo_owner": "gracp",
  "repo_path": "backups",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-16T07:56:57.763Z",
  "versionId": "aebfa661-62ce-4ff7-9a19-ab2953bb900c"
}