2025/10/vBjKSCKSgF3vAxRq.json
{
  "active": false,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send final reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send back an image": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Generate image in Dalle": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listen for incoming events": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-28T05:33:15.008Z",
  "id": "vBjKSCKSgF3vAxRq",
  "isArchived": false,
  "meta": null,
  "name": "Agentic Telegram AI bot with LangChain nodes and new tools",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "frequencyPenalty": 0.2,
          "temperature": 0.7
        }
      },
      "id": "289ee47c-3f54-4b13-82a9-9b0d158f869f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -224,
        0
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "q5LKemU3s5n59KGL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "=chat_with_{{ $('Listen for incoming events').first().json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "a17b3266-1364-4ea7-988d-af560a127296",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -96,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "39272a4d-0767-4beb-b474-205c777a9834",
      "name": "Listen for incoming events",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -288,
        -224
      ],
      "webhookId": "322dce18-f93e-4f86-b9b1-3305519b7834",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate an image with Dall-E-3 and send it via Telegram",
        "height": 553.452795998601,
        "width": 926.3188190787038,
        "color": 7
      },
      "id": "5cac0ceb-5db0-4688-9210-d1e4dab67eae",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "d6f4e326-23d8-4725-876c-bfe1ffa78f09",
      "name": "Send final reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        288,
        -224
      ],
      "typeVersion": 1.1,
      "webhookId": "d7e15fd8-a0ad-4a57-b57f-d94514e770f6",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "file": "={{ $fromAI(\"url\", \"a valid url of an image\", \"string\", \" \") }}",
        "additionalFields": {}
      },
      "id": "36a91609-fe61-4de9-bc75-4a92d6bf334e",
      "name": "Send back an image",
      "type": "n8n-nodes-base.telegramTool",
      "position": [
        160,
        0
      ],
      "typeVersion": 1.2,
      "webhookId": "5f1e4c24-beef-4280-8f13-233aad8e474b"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to request a Dall-E-3 model, when the user asks to draw something. If you gеt a response from this tool, forward it to the Telegram tool.",
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "model",
              "valueProvider": "fieldValue",
              "value": "dall-e-3"
            },
            {
              "name": "prompt"
            }
          ]
        }
      },
      "id": "b540496a-006c-4132-87e6-77a5e10ca636",
      "name": "Generate image in Dalle",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        32,
        0
      ],
      "typeVersion": 1.1,
      "credentials": {
        "openAiApi": {
          "id": "q5LKemU3s5n59KGL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant. You are communicating with a user named {{ $json.message.from.first_name }}. Address the user by name every time. If the user asks for an image, always send the link to the image in the final reply."
        }
      },
      "id": "1c96bb70-200a-4e8a-9ffe-82e37156075e",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -80,
        -224
      ],
      "typeVersion": 1.7
    }
  ],
  "pinData": {},
  "repo_name": "backup-n8n",
  "repo_owner": "gracp",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-28T05:33:15.008Z",
      "createdAt": "2025-10-28T05:33:15.008Z",
      "role": "workflow:owner",
      "workflowId": "vBjKSCKSgF3vAxRq",
      "projectId": "4t37tp0rXqvKIely"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-28T06:04:10.421Z",
  "versionId": "dcbb3477-acf8-4461-88f1-bff9f2342c61"
}