2025/04/RZjy3ub4ow30kOx5.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variable": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-21T23:59:58.394Z",
  "id": "RZjy3ub4ow30kOx5",
  "isArchived": false,
  "meta": null,
  "name": "UPWORK_02. Generate Google Doc Proposal",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e63f8623-e369-447d-af1a-584392600b9b",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1FS_lwX6vxIxKYmSP5WBBZrL5i6zchNUzC3qOQFjuFPM",
          "mode": "id"
        },
        "name": "={{ $json.message.content.titleOfSystem }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        780,
        0
      ],
      "id": "b0122085-8b6a-4165-8f5a-afa2c4296bb3",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "X5tFnNbcGzwewwH5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1000,
        0
      ],
      "id": "707d4a9d-d041-4404-bf2a-30450b4da42e",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "X5tFnNbcGzwewwH5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful, intelligent proposal writer.",
              "role": "system"
            },
            {
              "content": "=I'm an automation specialist applying to jobs on freelance platforms.\n\nYour task is to take as input an Upwork job description and return as output JSON for a customized proposal (which I'll upload to Google Docs).\n\nHigh-performing proposals are typically templated as follows:\n\n```\n# {titleOfSystem} \n## {briefExplanationOfSystem}\n\nHi. As mentioned, I’m so confident I’m the right fit for this I went ahead and created a proposal for you, including a step-by-step of how I’d do it.\n\nI’ve done the below many times and working with {specificPartOfTheirRequest} is actually one of my favorite things to do. Talk about serendipity!\n\nAnyway, here’s how we'll build {paraphrasedSystem}:\n{stepByStepBulletPoints}\n\nSo basically, {leftToRightFlowWithArrows}.\n\nA little about me:\n{aboutMeBulletPoints}\n\nTo be upfront: my goal is to work with you on a long-term retainer, since I find it aligns incentives and lets me help clients better. So I'd treat everything we do together as foundational, and help you build systems that drive revenue/maximize cost savings. \n\nI am really confident I can blow this out of the park for you, so if this sounds like something you're into, just respond to my proposal on Upwork & we'll take it from there. \n\nThank you for your time!\n```\n\nOutput your results in JSON using this format:\n\n{\n  \"titleOfSystem\": \"\",\n  \"briefExplanationOfSystem\": \"\",\n  \"specificPartOfTheirRequest\": \"\",\n  \"stepByStepBulletPoints\": \"\",\n  \"leftToRightFlowWithArrows\": \"\",\n  \"aboutMeBulletPoints\": \"\",\n}\n\nRules:\n- Write in a casual, spartan tone of voice.\n- Don't use emojis or flowery language.\n- If there's a name included somewhere in the description, add it for personalization purposes.\n- Return \"stepByStepBulletPoints\" and \"aboutMeBulletPoints\" as strings, and delimit each bullet point with a \\n and make sure it includes a -\n- In \"aboutMeBulletPoints\", prefer to mention social proof that includes $ and numbers.\n- For \"leftToRightFlowWithArrows\", write a simplified left to right flow delimited by \"->\" strings. For instance, we receive a new email -> we add that to the CRM -> we send an email to the new lead.\n- Use first-person \"I\" language, like \"I'd streamline...\" for bullet points etc.\n\n\nSome facts about me for the personalization: {{ $json.aboutMe }}\n"
            },
            {
              "content": "={\"jobDescription\":\"{{ $('Execute Workflow Trigger').item.json.query }}\"}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        400,
        0
      ],
      "id": "4643a2f2-82db-4813-8ae9-7cfd39479a45",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "q5LKemU3s5n59KGL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e980c92c-07d9-400e-b40c-a8fbdbe8bbcb",
              "name": "aboutMe",
              "value": "I'm an AI and Automation Specialist who builds tailored AI-powered and no-code systems to help businesses win more clients, streamline workflows, and drive significant revenue growth.\nSome notable things I've done:\n•\nMedTech Lead Generation: Developed an AI-driven marketing funnel for a medical device manufacturer, resulting in an increase of qualified leads from 10 to 120 per month within 3 months. This showcases expertise in AI-Powered Outreach Funnels for the MedTech industry.\n•\nE-commerce Sales Pipeline Growth: Automated LinkedIn and email outreach for a health e-commerce brand, generating a $50,000 sales pipeline in just 30 days. This highlights skills in Automated LinkedIn + email funnels for e-commerce.\n•\nMarketing Agency Efficiency Improvement: Implemented a ClickUp CRM & PM system for a marketing agency doing $500K/year, leading to a 40% reduction in project overruns. This demonstrates expertise in building No‑Code CRM & Workflow Builds for professional services.\n•\nDigital Agency Content Automation: Deployed a Whisper and n8n workflow for a digital agency, delivering over 50 micro-content posts weekly and contributing to 5K organic visitors per month. This showcases capabilities in Content Automation & SEO Engines.\n•\nRapid MVP Development & User Acquisition: Built a Chrome extension prototype with AI assistance in just two days, quickly onboarding over 2,000 beta users in the first week. This exemplifies skills in Rapid MVP & Chrome Extension Sprint.\n•\nPrint-on-Demand Revenue Generation: Automated print-on-demand workflows for a merchandise startup targeting Taylor Swift fans, achieving $20,000 in revenue in the first campaign with no upfront inventory costs. This shows experience in Shopify & Amazon store automation relevant to e-commerce.\n•\nHigh-Volume Lead Processing & Engagement: Processed and verified over 10,000 prospects using Apollo.io and custom automation, achieving a 25% email open rate and 8% reply rate across various campaigns. This demonstrates proficiency in Outreach & Lead Generation using sophisticated tools.\n•\nEmail Marketing Sales Growth: Achieved over 100% sales growth for Pacey MedTech through strategic email campaigns and distributor expansion. This highlights expertise in Email Marketing Strategy & Automation.\n•\nMRR Growth via Outreach: Scaled Grapo Mark to over $15,000 Monthly Recurring Revenue (MRR) with optimized outreach campaigns. This demonstrates the ability to drive revenue through effective Outreach & Lead Generation strategies.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ],
      "id": "e426c5a0-db01-4990-b363-a0c8179bf0e9",
      "name": "Set Variable"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Google Drive').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{titleOfSystem}}",
              "replaceText": "={{ $('OpenAI').item.json.message.content.titleOfSystem }}"
            },
            {
              "action": "replaceAll",
              "text": "{{briefExplanationOfSystem}}",
              "replaceText": "={{ $('OpenAI').item.json.message.content.briefExplanationOfSystem }}"
            },
            {
              "action": "replaceAll",
              "text": "{{specificPartOfTheirRequest}}",
              "replaceText": "={{ $('OpenAI').item.json.message.content.specificPartOfTheirRequest }}"
            },
            {
              "action": "replaceAll",
              "text": "{{stepByStepBulletPoints}}",
              "replaceText": "={{ $('OpenAI').item.json.message.content.stepByStepBulletPoints }}"
            },
            {
              "action": "replaceAll",
              "text": "{{leftToRightFlowWithArrows}}",
              "replaceText": "={{ $('OpenAI').item.json.message.content.leftToRightFlowWithArrows }}"
            },
            {
              "action": "replaceAll",
              "text": "{{aboutMeBulletPoints}}",
              "replaceText": "={{ $('OpenAI').item.json.message.content.aboutMeBulletPoints }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1220,
        0
      ],
      "id": "d161281b-8b5a-41ba-b1f1-b224dc5a51f5",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "N6uQeh30CPZxsMHH",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74b2ef09-da1d-4fe0-b6ea-242f25edf5e8",
              "name": "urlOfProposal",
              "value": "=https://docs.google.com/document/d/{{ $json.documentId }}/edit",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        0
      ],
      "id": "636c4d46-88f0-46ee-9134-62f5d13aae93",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "repo_name": "backup-n8n",
  "repo_owner": "gracp",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-04-21T23:34:41.890Z",
      "updatedAt": "2025-04-21T23:34:41.890Z",
      "id": "hZKJyVB4KxO67OZ3",
      "name": "N8N Course"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-04-22T17:58:04.142Z",
  "versionId": "7cf2e67f-7265-4963-96e6-203a161f5352"
}