2025/08/E6belipmDihOBtqc.json
{
  "active": false,
  "connections": {
    "OpenAI1": {
      "main": [
        []
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variable": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variable1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Generate Mermaid.js": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Application Copy": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Google Doc Proposal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        []
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-12T01:43:55.927Z",
  "id": "E6belipmDihOBtqc",
  "isArchived": false,
  "meta": {
    "templateId": "6174",
    "templateCredsSetupCompleted": true
  },
  "name": "Automate Personalized Upwork Proposals with GPT-4, Google Docs & Mermaid Diagrams",
  "nodes": [
    {
      "parameters": {
        "content": "## 🎯 STEP 1: Application Copy Generation\n\nGenerates personalized Upwork application text:\n\n**Execute Workflow Trigger**: Receives job description from AI agent\n**Set Variable**: Contains personal social proof and achievements\n**OpenAI**: Creates custom application using proven templates\n**Edit Fields**: Formats response for agent consumption\n\n**Template Structure**: \"Hi, I do [thing] all the time. So confident I created a demo: $$$\"\n\n**Key**: Uses templated approach with AI filling specific variables, not generating entire proposal",
        "height": 412,
        "width": 400
      },
      "id": "e0f69efd-213f-4abe-8b26-539e0e9d8c84",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📄 STEP 2: Google Doc Proposal Creation\n\nGenerates professional proposal documents:\n\n1. **OpenAI1**: Creates structured proposal content (title, explanation, scope, timeline)\n2. **Google Drive**: Copies template and creates unique document\n3. **Google Drive1**: Shares document publicly for client access\n4. **Google Docs**: Replaces template variables with AI-generated content\n5. **Edit Fields1**: Returns shareable URL to AI agent\n\n**Output**: Professional proposal document with personalized content and social proof",
        "height": 396,
        "width": 404
      },
      "id": "e3608166-2d07-4c00-b81c-d13fa29c0adf",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📊 STEP 3: Mermaid Diagram Generation\n\nCreates workflow diagrams for visual proposals:\n\n**OpenAI2**: Analyzes job requirements and generates Mermaid.js flowchart code\n**Edit Fields2**: Formats diagram code for agent use\n\n**Purpose**: Provides visual representation of proposed solution\n**Client Perception**: Demonstrates thorough analysis and professional approach\n\n**Example Output**: \"graph TD; A-->B; B-->C;\" (flowchart syntax)\n\n**Usage**: Copy code into Mermaid visualizer or Whimsical for client presentation",
        "height": 412,
        "width": 400
      },
      "id": "5f7fda54-b0d8-47f4-aa9f-1759ea72c71e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🤖 STEP 4: AI Agent Orchestration\n\nMain agent that coordinates all sub-workflows:\n\n**When chat message received**: Accepts Upwork job descriptions\n**AI Agent**: Uses OpenAI with memory to maintain context\n**Tool Integration**: Calls three sub-workflows (application, proposal, diagram)\n**Smart Replacement**: Automatically replaces $$$ placeholders with actual Google Doc links\n\n**Business Value**: Transforms hours of manual proposal work into minutes of automated generation\n\n**Revenue Potential**: Based on $500K+ Upwork earnings using these exact templates and strategies",
        "height": 368,
        "width": 420
      },
      "id": "25a64031-cbc9-4834-9178-632adcf00068",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        1312
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "e4785c2b-3495-4b71-9686-d2aff69dee87",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1088,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e980c92c-07d9-400e-b40c-a8fbdbe8bbcb",
              "name": "aboutMe",
              "type": "string",
              "value": "I'm an AI and automation freelancer that builds outreach systems, CRM systems, project management systems, no-code systems, and integrations.|Some notable things I've done:- End to end project management for a $1M/yr copywriting agency- Outbound acquisition system that grew a content company from $10K/mo to $92K/mo in 12 mo- Monday.com CRM and PM for a recruiting company doing >$1M/yr- Automated content generation system for an SEO agency doing >$10M/yr- ClickUp CRM build for a marketing company doing $1M/yr- I run a Make.com community that does $100,000/mo- I run a YouTube channel about automation with over 50,000 subscribers- Email outreach system for a $MM San Diego real estate brokerage that closed $150K revenue in the first three days- Email outreach systems for a $200K/mo ecommerce dog treat company"
            }
          ]
        },
        "options": {}
      },
      "id": "461851c0-1d89-4b28-9ce1-c1600b6fbde0",
      "name": "Set Variable",
      "type": "n8n-nodes-base.set",
      "position": [
        1312,
        256
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "468a03c7-1537-435a-9f98-ce7c58a51c8b",
              "name": "response",
              "type": "string",
              "value": "={{ $json.message.content.proposal }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c20b2871-175e-44da-a136-8e8ea0dce583",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        2304,
        256
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1rUO3VaO2yDGO5wf0Zz72gaG7e__wjXY26PJkX8h-Y00",
          "cachedResultUrl": "https://docs.google.com/document/d/1rUO3VaO2yDGO5wf0Zz72gaG7e__wjXY26PJkX8h-Y00/edit?usp=drivesdk",
          "cachedResultName": "Google Docs Upwork Proposal Template"
        },
        "name": "={{ $json.message.content.titleOfSystem }}",
        "options": {}
      },
      "id": "e0e8f7ea-b778-4b29-9e8e-fcbf0b9c8b99",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1680,
        640
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "X5tFnNbcGzwewwH5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "id": "30ce122f-7d72-4778-baf9-0a523322a914",
      "name": "Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1904,
        640
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "X5tFnNbcGzwewwH5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Google Drive').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{titleOfSystem}}",
              "replaceText": "={{ $('OpenAI1').item.json.message.content.titleOfSystem }}"
            },
            {
              "action": "replaceAll",
              "text": "{{briefExplanationOfSystem}}",
              "replaceText": "={{ $('OpenAI1').item.json.message.content.briefExplanationOfSystem }}"
            },
            {
              "action": "replaceAll",
              "text": "{{specificPartOfTheirRequest}}",
              "replaceText": "={{ $('OpenAI1').item.json.message.content.specificPartOfTheirRequest }}"
            },
            {
              "action": "replaceAll",
              "text": "{{stepByStepBulletPoints}}",
              "replaceText": "={{ $('OpenAI1').item.json.message.content.stepByStepBulletPoints }}"
            },
            {
              "action": "replaceAll",
              "text": "{{leftToRightFlowWithArrows}}",
              "replaceText": "={{ $('OpenAI1').item.json.message.content.leftToRightFlowWithArrows }}"
            },
            {
              "action": "replaceAll",
              "text": "{{aboutMeBulletPoints}}",
              "replaceText": "={{ $('OpenAI1').item.json.message.content.aboutMeBulletPoints }}"
            }
          ]
        }
      },
      "id": "d427a4a0-1171-4110-8973-470962397917",
      "name": "Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        2128,
        640
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "N6uQeh30CPZxsMHH",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful, intelligent proposal writer.",
              "role": "system"
            },
            {
              "content": "=I'm an automation specialist applying to jobs on freelance platforms.\n\nYour task is to take as input an Upwork job description and return as output JSON for a customized proposal (which I'll upload to Google Docs).\n\nHigh-performing proposals are typically templated as follows:\n\n```\n# {titleOfSystem} \n## {briefExplanationOfSystem}\n\nHi. As mentioned, I’m so confident I’m the right fit for this I went ahead and created a proposal for you, including a step-by-step of how I’d do it.\n\nI’ve done the below many times and working with {specificPartOfTheirRequest} is actually one of my favorite things to do. Talk about serendipity!\n\nAnyway, here’s how we'll build {paraphrasedSystem}:\n{stepByStepBulletPoints}\n\nSo basically, {leftToRightFlowWithArrows}.\n\nA little about me:\n{aboutMeBulletPoints}\n\nTo be upfront: my goal is to work with you on a long-term retainer, since I find it aligns incentives and lets me help clients better. So I'd treat everything we do together as foundational, and help you build systems that drive revenue/maximize cost savings. \n\nI am really confident I can blow this out of the park for you, so if this sounds like something you're into, just respond to my proposal on Upwork & we'll take it from there. \n\nThank you for your time!\n```\n\nOutput your results in JSON using this format:\n\n{\n  \"titleOfSystem\": \"\",\n  \"briefExplanationOfSystem\": \"\",\n  \"specificPartOfTheirRequest\": \"\",\n  \"stepByStepBulletPoints\": \"\",\n  \"leftToRightFlowWithArrows\": \"\",\n  \"aboutMeBulletPoints\": \"\",\n}\n\nRules:\n- Write in a casual, spartan tone of voice.\n- Don't use emojis or flowery language.\n- If there's a name included somewhere in the description, add it for personalization purposes.\n- Return \"stepByStepBulletPoints\" and \"aboutMeBulletPoints\" as strings, and delimit each bullet point with a \\n and make sure it includes a -\n- In \"aboutMeBulletPoints\", prefer to mention social proof that includes $ and numbers.\n- For \"leftToRightFlowWithArrows\", write a simplified left to right flow delimited by \"->\" strings. For instance, we receive a new email -> we add that to the CRM -> we send an email to the new lead.\n- Use first-person \"I\" language, like \"I'd streamline...\" for bullet points etc.\n\n\nSome facts about me for the personalization: {{ $json.aboutMe }}\n"
            },
            {
              "content": "={\"jobDescription\":\"{{ $('Execute Workflow Trigger').item.json.query }}\"}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.7
        }
      },
      "id": "5b7eda57-c96d-4b8d-b2ee-9c21a8092db5",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2464,
        1248
      ],
      "typeVersion": 1.6,
      "credentials": {
        "openAiApi": {
          "id": "q5LKemU3s5n59KGL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e980c92c-07d9-400e-b40c-a8fbdbe8bbcb",
              "name": "aboutMe",
              "type": "string",
              "value": "I'm an AI and automation freelancer that builds outreach systems, CRM systems, project management systems, no-code systems, and integrations.|Some notable things I've done:- End to end project management for a $1M/yr copywriting agency- Outbound acquisition system that grew a content company from $10K/mo to $92K/mo in 12 mo- Monday.com CRM and PM for a recruiting company doing >$1M/yr- Automated content generation system for an SEO agency doing >$10M/yr- ClickUp CRM build for a marketing company doing $1M/yr- I run a Make.com community that does $100,000/mo- I run a YouTube channel about automation with over 50,000 subscribers- Email outreach system for a $MM San Diego real estate brokerage that closed $150K revenue in the first three days- Email outreach systems for a $200K/mo ecommerce dog treat company"
            }
          ]
        },
        "options": {}
      },
      "id": "9e9475c8-54f6-4481-8b43-ec39f92a55ea",
      "name": "Set Variable1",
      "type": "n8n-nodes-base.set",
      "position": [
        1104,
        640
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74b2ef09-da1d-4fe0-b6ea-242f25edf5e8",
              "name": "urlOfProposal",
              "type": "string",
              "value": "=https://docs.google.com/document/d/{{ $json.documentId }}/edit"
            }
          ]
        },
        "options": {}
      },
      "id": "051b9854-8f2d-412e-8dbf-3987f2ce2f6d",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        2336,
        640
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful, intelligent Mermaid.js code writer.",
              "role": "system"
            },
            {
              "content": "=Your task is to take as input an Upwork job description and return as output a Mermaid diagram that I can visualize using a subsequent Mermaid.js tool.\n\nOutput your results in plaintext using Mermaid code formatting. Don't output anything but the Mermaid diagram code.\n\nHere's an example of what your output should look like:\n\ngraph TD;\n    A-->B;\n    A-->C;\n    B-->D;\n    C-->D;\n\nRules:\n- You only output flowcharts. Nothing else. No sequence diagrams, no Gantt charts—only flowcharts.\n- Do not output any accessory formatting information, like ```mermaid.\n- Your first character should be g."
            },
            {
              "content": "={{ $json.query }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "930efce4-7e42-4b5b-b583-3ffc46f90e11",
      "name": "OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2464,
        1104
      ],
      "typeVersion": 1.6,
      "credentials": {
        "openAiApi": {
          "id": "q5LKemU3s5n59KGL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d47590b5-3683-4afe-bc27-a25fb94a32d5",
              "name": "mermaidCode",
              "type": "string",
              "value": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0ee67283-602a-48d7-98cc-609156ba3384",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "position": [
        2736,
        1104
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b4b6f907-c24f-49de-aefa-8d608d1e027b",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1216,
        1232
      ],
      "webhookId": "89921f10-c333-4854-977f-57d621cb6350",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You're a helpful, intelligent Upwork assistant. Your task is to receive an Upwork job description and then use it to generate assets, like Mermaid diagrams, Google Docs, and Upwork application bodies. \n\nWhen you receive an Upwork job description, you *must* generate a Mermaid diagram, a Google Doc proposal, and an Upwork application. You must then replace the $$$ with the Google Doc proposal link.\n\nOutput the Google Doc proposal link in plaintext, like link: https://www..."
        }
      },
      "id": "68a46c9e-4ee3-454d-9c27-1c5e281724a7",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1440,
        1232
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f6dff3af-6183-4144-b145-051e12c21868",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2480,
        1408
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "q5LKemU3s5n59KGL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "48f145b4-6357-454a-bae6-1ca1e0666baf",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1280,
        1536
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "name": "generate_upwork_application_copy",
        "description": "Call this tool to generate Upwork application copy. The input will be an Upwork job description, and the output will be the Upwork application copy string from the tool.",
        "workflowId": {
          "__rl": true,
          "value": "E6belipmDihOBtqc",
          "mode": "list",
          "cachedResultName": "Automate Personalized Upwork Proposals with GPT-4, Google Docs & Mermaid Diagrams"
        }
      },
      "id": "9504c8d4-63c5-4260-9d20-7fd08030e561",
      "name": "Generate Application Copy",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1824,
        1536
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "name": "generate_google_doc_proposal",
        "description": "Call this tool to generate a Google Doc proposal for an Upwork job. The input should be a string of an Upwork job post, and the output will be a proposal URL that you can use to fill in templates.",
        "workflowId": {
          "__rl": true,
          "value": "E6belipmDihOBtqc",
          "mode": "list",
          "cachedResultName": "Automate Personalized Upwork Proposals with GPT-4, Google Docs & Mermaid Diagrams"
        },
        "responsePropertyName": "urlOfProposal"
      },
      "id": "7ac89d7e-0f0a-4872-ba9e-457d27f01353",
      "name": "Generate Google Doc Proposal",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1648,
        1536
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "name": "generate_mermaid_diagram",
        "description": "Call this tool to generate Mermaid.js diagram code. The input will be an Upwork job description, and the output will be the mermaid diagram code.",
        "workflowId": {
          "__rl": true,
          "value": "E6belipmDihOBtqc",
          "mode": "list",
          "cachedResultName": "Automate Personalized Upwork Proposals with GPT-4, Google Docs & Mermaid Diagrams"
        },
        "responsePropertyName": "mermaidCode"
      },
      "id": "cb0dac4a-6495-44b5-ba3e-1d6bebcb5ecf",
      "name": "Generate Mermaid.js",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1456,
        1536
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful, intelligent Uwpwork application writer.",
              "role": "system"
            },
            {
              "content": "=I'm an automation specialist applying to jobs on freelance platforms.\n\nYour task is to take as input an Upwork job description and return as output a customized proposal.\n\nHigh-performing proposals are typically templated as follows:\n\n```\nHi, I do {thing} all the time. Am so confident I'm the right fit for you that I just created a workflow diagram + a demo of your {thing} in no-code: $$$\n\nAbout me: I'm a {relevantJobDescription} that has done {coolRelevantThing}. Of note, {otherCoolTieIn}.\n\nHappy to do this for you anytime—just respond to this proposal (else I don't get a chat window). \n\nThank you!\n```\n\nOutput your results in JSON using this format:\n\n{\"proposal\":\"Your proposal\"}\n\nRules:\n- $$$ is what we're using to replace links later on, so leave that untouched.\n- Write in a casual, spartan tone of voice.\n- Don't use emojis or flowery language.\n- If there's a name included somewhere in the description, add it after \"Hi\"\n\nSome facts about me for the personalization: {{ $json.aboutMe }}\n"
            },
            {
              "content": "={\"jobDescription\":\"{{ $('Execute Workflow Trigger').item.json.query }}\"}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.7
        }
      },
      "id": "bb96534c-0a94-49a7-ad54-55c4da1ccec1",
      "name": "Message a model1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1520,
        -16
      ],
      "typeVersion": 1.6,
      "credentials": {
        "openAiApi": {
          "id": "q5LKemU3s5n59KGL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\"jobDescription\":\"{{ $('Execute Workflow Trigger').item.json.query }}\"}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "AIMessagePromptTemplate",
              "message": "You are a helpful, intelligent Upwork application writer."
            },
            {
              "message": "=I'm an automation specialist applying to jobs on freelance platforms.  Your task is to take as input an Upwork job description and return as output a customized proposal.  High-performing proposals are typically templated as follows:  ``` Hi, I do {thing} all the time. Am so confident I'm the right fit for you that I just created a workflow diagram + a demo of your {thing} in no-code: $$$  About me: I'm a {relevantJobDescription} that has done {coolRelevantThing}. Of note, {otherCoolTieIn}.  Happy to do this for you anytime—just respond to this proposal (else I don't get a chat window).   Thank you! ```  Output your results in JSON using this format:  {\"proposal\":\"Your proposal\"}  Rules: - $$$ is what we're using to replace links later on, so leave that untouched. - Write in a casual, spartan tone of voice. - Don't use emojis or flowery language. - If there's a name included somewhere in the description, add it after \"Hi\"  Some facts about me for the personalization: {{ $json.aboutMe }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1520,
        256
      ],
      "id": "dbb95553-dbbc-4843-b143-74b641c19c1a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1456,
        432
      ],
      "id": "571705ed-e376-4467-8e38-dd7c42cc7be1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "N7WbBL6GvSir5zYS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1600,
        416
      ],
      "id": "95d806c8-7a43-4970-b52b-3a42baeadc7a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1600,
        560
      ],
      "id": "3b998385-ff64-4bc6-885c-6d8c69292a0b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "N7WbBL6GvSir5zYS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\"jobDescription\":\"{{ $('Execute Workflow Trigger').item.json.query }}\"}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "AIMessagePromptTemplate",
              "message": "You are a helpful, intelligent Upwork application writer."
            },
            {
              "message": "=I'm an automation specialist applying to jobs on freelance platforms.  Your task is to take as input an Upwork job description and return as output a customized proposal.  High-performing proposals are typically templated as follows:  ``` Hi, I do {thing} all the time. Am so confident I'm the right fit for you that I just created a workflow diagram + a demo of your {thing} in no-code: $$$  About me: I'm a {relevantJobDescription} that has done {coolRelevantThing}. Of note, {otherCoolTieIn}.  Happy to do this for you anytime—just respond to this proposal (else I don't get a chat window).   Thank you! ```  Output your results in JSON using this format:  {\"proposal\":\"Your proposal\"}  Rules: - $$$ is what we're using to replace links later on, so leave that untouched. - Write in a casual, spartan tone of voice. - Don't use emojis or flowery language. - If there's a name included somewhere in the description, add it after \"Hi\"  Some facts about me for the personalization: {{ $json.aboutMe }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1296,
        640
      ],
      "id": "afc0dcf0-5bac-47b3-829c-1d73a71abdeb",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1264,
        816
      ],
      "id": "cb19fcbb-cdf3-44a6-8997-55e22b80c415",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "N7WbBL6GvSir5zYS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-06-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1376,
        944
      ],
      "id": "95a74782-8e8b-44bb-9589-e0b27cd3981b",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "N7WbBL6GvSir5zYS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1376,
        816
      ],
      "id": "a95d5ef7-fee3-4265-92e0-688666a98921",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1120,
        1536
      ],
      "id": "cebb7b24-aba0-4df7-a66c-89c25568d38e",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "N7WbBL6GvSir5zYS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "backup-n8n",
  "repo_owner": "gracp",
  "repo_path": "",
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-12T02:12:10.208Z",
  "versionId": "09b49d91-cb34-4c73-8116-67b7afde669e"
}